$bcolor: black;
$height: 100%;
$width: 100%;
$display: flex;
$aligncenter: center;
$background: white;
$fsize: 50%;
$direction: column;
$mwidth: 469px;
$fheight: 300px;
$transparent: rgba(0, 0, 0, 0.6);
